/* Generic buttons */

.Button {
    font-size: 1.1rem;
    text-transform: uppercase;
    align-self: center;
    border-color: transparent;
    font-weight: bold;
    padding: 4px 10px;
    margin-right: 2px;
    min-width: 75px;
    background-color: #b3cbb5;
    color: #254441;
    border-radius: 2px;
}

.Button:hover {
    border-color: transparent;
    background-color: #566967;
    cursor: pointer !important;
    color: #f5f5f5;
}

.Button:hover:active {
    background-color: #566967 !important;
}

.Button:active {
    background-color: #566967 !important;
}

.Button:focus {
    background-color: #566967;
}

.Wide {
    padding: 8px 50px;
    width: 100%;
}

/* Cancel or delete something */

.Delete {
    background-color: #d77a61;
    color: #f5f5f5;
}

/* Follow & Unfollow buttons */

.Follow {
    font-size: 15px;
    font-weight: 600;
    background-color: #566967;
    color: #f5f5f5;
}

.Follow:hover {
    background-color: #d77a61;
}

.UnFollow {
    font-size: 15px;
    font-weight: 600;
    background-color: #d77a61 !important;
    color: #f5f5f5;
}

.UnFollow:hover {
    background-color: #b3cbb5 !important;
    color: #254441;
}

/* Add new post button */

.AddNew {
    font-size: 18px;
}

.AddNewIcon {
    font-size: 30px;
    color: #d77a61;
    vertical-align: middle;
    margin-bottom: 2px;
}