.Post {
    background-color: #ffffff;
    border: none;
    margin-bottom: 25px;
    text-align: center;
}

.Post figure,
h5 {
    margin: 0 0;
}

.Icon {
    color: #d77a61;
}

.Icon:hover {
    color: #566967;
}

.IconOutline:hover {
    color: #d77a61;
}

.CardImage {
    border-radius: 0px;
}

.DateTime {
    font-size: 1rem;
    padding-right: 20px;
}

.Divider {
    border-bottom: 1px solid #b3cbb5;
    margin: 20px 0;
}

.CardTitle {
    font-size: 30px;
    font-family: 'Cinzel', serif;
    color: #254441;
    font-weight: lighter;
    text-transform: lowercase;
}