.ProfileImage {
    object-fit: cover;
    height: 120px;
    width: 120px;
    margin: 4px;
  }
  
  @media screen and (max-width: 991px) {
    .ProfileImage {
      width: 250px;
      height: 250px;
    }
  }

  .ProfileInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 15px;
    /* height: 200px;  */
    /* border: 1px solid #ccc; */
  }

  .ProfileHeaders {
    border-top: 1px solid #b3cbb5;
    font-size: 22px;
    padding-top: 28px;
    margin-top: 25px;
  }