
.Input {
    background: #ffffff;
    border: 1px solid #b3cbb5;
    box-sizing: border-box;
    border-radius: 2px;
    color: #254441;
    text-align: center;
    padding: 10px;
}

.Header {
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    line-height: 25px;
    text-transform: uppercase;
    color: #254441;
    padding-bottom: 20px;
}

.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
}

.Container {
    padding: 30px 10px;
}