.App {
    font-family: "Quattrocento", serif;
    background-color: #f5f5f5;
    min-height: 100vh;
    font-size: 1rem;
}

.Main {
    padding-top: 150px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cinzel', serif;
    color: #254441;
    font-weight: lighter;
    text-transform: lowercase;
}

a {
    color: #566967;
    transition: color ease-in-out 0.3s;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #d77a61;
}

i {
    color: #b3cbb5;
    padding-right: 6px;
    padding-left: 10px;
}

i:hover {
    transition: color ease-in-out 0.3s;
    color: #d77a61;
}

a:hover i {
    transition: color ease-in-out 0.3s;
    color: #566967;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
  }

.LabelSelector {
    cursor: pointer !important;
}

/* CONTENT CSS */

.Content {
    background-color: #ffffff;
    padding: 10px;
}

.Heading {
    font-size: 25px;
}


/* Media query: tablets and larger (540px and up) */
@media screen and (min-width: 540px) {

    .Heading {
        font-size: 35px;
    }

    .App {
        font-size: 1.1rem;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    .Heading {
        font-size: 40px;
    }
}